<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="row g-3"  [formGroup]="productForm" (ngSubmit)="saveCategory()">
        <div class="col-md-12">
            <label for="productName" class="form-label">Name</label>
            <input type="text" class="form-control shadow-none" id="name" formControlName="productName">
                <span *ngIf="productForm.controls['productName']?.errors && isSubmitted">
                    <div class="text-danger" *ngIf="productForm.controls['productName']?.errors?.['required']">
                        Name is required!
                    </div>
                    <div class="text-danger" *ngIf="productForm.controls['productName']?.errors?.['minlength']">
                        Name must contain min. {{productForm.controls['productName']?.errors?.['minlength']?.['requiredLength']}} characters!
                    </div>
                </span>
        </div>
        <div class="col-md-12">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control shadow-none" id="price" formControlName="price">
            <span *ngIf="productForm.controls['price']?.errors && isSubmitted">
                <div class="text-danger" *ngIf="productForm.controls['price']?.errors?.['required']">
                    price is required!
                </div>
            </span>
        </div>
        <div class="col-md-12">
            <label for="image" class="form-label">Image</label>
            <input accept="image/*" id="brand" type="file" (change)="fileUpload($event)" class="form-control shadow-none" id="image">
            <span *ngIf="productForm.controls['image']?.errors && isSubmitted">
                <div class="text-danger" *ngIf="productForm.controls['image']?.errors?.['required']">
                    Image is required!
                </div>
            </span>
            <div class="col-2 mt-4">
                <img style="width: 100%;" [src]="imageDisplay" >
            </div>
        </div>
        <div class="col-12 text-end">
            <button class="btn btn-danger me-2" type="button" (click)="bsModalRef.hide()">{{closeButton}}</button>
            <button class="btn btn-primary" type="submit">{{button}}</button>
        </div>
    </form>
</div>
