<div class="container-margin">
    <!-- Header Start -->
    <div class="row">
        <div class="col-md-12 mb-4">
            <h5 class="fs-5">SAM GIFT GALLERY</h5>
        </div>
    </div>
    <!-- Header End -->
    <!-- Home Section Start  -->
    <div class="row align-items-center home mb-4" >
        <div class="col-md-6 col-sm-12">
            <h1 class="fs-1 fst-italic"> Make <br> milestones <br> memorable</h1>
            <p class="fs-4 fw-lighter"> Celebrate with handmade <br>
                custom jewelry</p>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="/assets/image/home.png" alt="">
        </div>
    </div>
    <!-- Home Section End -->

    <!-- About Section Start -->
    <div class="row align-items-center mb-4 about" >
        <div class="col-md-6 col-sm-12">
            <h1 class="fs-1 fst-italic"> Our Story</h1>
            <p class="fs-6 fw-lighter text-break"> Hello from Studio Moone! We are a small group of passionate jewelry makers who like making delicate and personalized jewelry for meaningful moments such as weddings, engagements, and other milestones <br> Our pieces are thoughtfully designed and one of a kind. You can be assured that no two pieces are ever alike, making it even more special as it is passed on from generation to generation.</p>
        </div>
        <div class="col-md-6 col-sm-12 text-center">
            <img src="/assets/image/about.png" alt="">
        </div>
    </div>
    <!-- About Section End -->

    <!-- Products Section Start -->
        <app-products></app-products>
    <!-- Products Section End -->

    <!-- Contact Section Start -->
    <div class="mt-5 mb-5">
        <div class="mb-4">
            <h5>SAM GIFT GALLERY</h5>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h1 class="fs-1 fst-italic">Get in Touch</h1>
            </div>
            <div class="col-md-3">
                <h6>Mailing Address</h6>
                <p>123 Anywhere St., Any City, State, Country 12345</p>
            </div>
            <div class="col-md-3">
                <h6>Email Address</h6>
                <p>hello@reallygreatsite.com</p>
            </div>
            <div class="col-md-2">
                <h6>Phone Number</h6>
                <p>(123) 456 7890</p>
            </div>
        </div>
    </div>
    <!-- Contact Section End -->
</div>